Entrada/XSD/ExclusaoPrestadores.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="operadora">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="registroANS" type="xs:string" />
                <xs:element name="cnpjOperadora" type="xs:string" />
                <xs:element name="solicitacao">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="exclusaoPrestador">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="1" maxOccurs="1" name="identificacao">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cnpjCpf" type="xs:string" />
                                                    <xs:element name="cnes" type="xs:string" />
                                                    <xs:element name="codigoMunicipiolBGE" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>