Schemas/InclusaoPrestadores.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="operadora">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="registroANS" type="xs:string" />
				<xs:element name="cnpjOperadora" type="xs:string" />
				<xs:element name="solicitacao">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nossoNumero" type="xs:string" />
							<xs:element name="isencaoOnus" type="xs:string" />
							<xs:element minOccurs="1" maxOccurs="unbounded" name="inclusaoPrestador">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="classificacao" type="xs:string" />
										<xs:element name="cnpjCpf" type="xs:string" />
										<xs:element name="cnes" type="xs:string" />
										<xs:element name="uf" type="xs:string" />
										<xs:element name="codigoMunicipioIBGE">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="razaoSocial">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="relacaoOperadora" type="xs:string" />
										<xs:element name="tipoContratualizacao" type="xs:string" />
										<xs:element name="registroANSOperadoraIntermediaria" type="xs:string" />
										<xs:element name="dataContratualizacao" type="xs:string" />
										<xs:element name="dataInicioPrestacaoServico">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="10"/>
                        </xs:restriction>
                      </xs:simpleType>
										</xs:element>
										<xs:element name="disponibilidadeServico" type="xs:string" />
										<xs:element name="urgenciaEmergencia" type="xs:string" />
										<xs:element name="vinculacao">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="numeroRegistroPlanoVinculacao" type="xs:string" />
													<xs:element name="codigoPlanoOperadoraVinculacao" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>